{% extends 'entry/base.html' %}
{% load crispy_forms_filters %}
{% block content %}
<div class="container bg-light shadow-md p-5 form-layout" >
    <h3>Create your account</h3>
    <hr>
    <div>
        <form method = "POST" autocomplete="off" >
            {% csrf_token %}<!--prevents any csrf attacks-->
            {{form|crispy}}<!-- allow form to look a little bit cleaner-->
            <br>
            <button type="submit" class="btn btn-primary w-100 btn-block p-2">Create account</button>
        </form>
    </div>
    
    <div>
        
    </div>

</div>
{% endblock %}