{% extends 'entry/base.html' %}
{% block content %}
<style>
     .container {
    margin: 0 auto;
    max-width: 70%;
}

.container * {
    font-family: "Franklin Gothic", sans-serif;
    color: #0a1016;
    font-size: 17px;
}
.btn-primary{
    color: #ffffff;
    font-size: 14px;
     font-family: sans-serif;
}
</style>
<body>
<div class="container bg-light shadow-md p-5 form-layout">
    {% load editorjs %}
    {{ post.body_custom | editorjs}}
    <a href="{% url 'post_edit' pk=post.id %}" class="btn btn-primary w-100 btn-block p-2">Edit page</a></div>
</body>
{%endblock%}
